<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  <mapper namespace="apply">
  
  <!-- 훈련사 지원 조회 -->
  <select id="list" resultType="applyDto">
  	select*from apply
  </select>

  <!-- 훈련사 지원 상태>승인 변환 -->
    <select id="approval" parameterType="string">
    update apply set apply_status='승인' where member_id=#{memberId}
    </select>
   <!-- 훈련사 지원 상태가 반려 변환 -->
     <select id="reject" parameterType="string" >
     update apply set apply_status='반려' where member_id=#{memberId}
    </select>
  

	<select id="sequence" resultType="int">
		select apply_seq.nextval from dual
	</select>
	
	<insert id="insert" parameterType="ApplyDto">
		insert into apply(apply_no, member_id, apply_active, apply_motive, apply_license, apply_smoke, apply_status)  
		values(#{applyNo}, #{memberId}, #{applyActive}, #{applyMotive}, #{applyLicense}, #{applySmoke}, '신청')
	</insert>
	
	<select id="one" parameterType="String" resultType="ApplyDto">
		select * from apply where member_id = #{memberId}
	</select>
	
	<!-- 승정 테스트 - 지원 상세 -->
	<select id="applyDetail" resultType="ApplyDetailVO" parameterType="int">
		select a.*, m.member_name, m.member_gender, 
		m.member_email, m.member_tel from apply a 
		inner join member m on a.member_id=m.member_id 
		where a.apply_no=#{applyNo}
	</select>
	
</mapper>

