<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="chat">
  
  <select id="get" resultType="MemberDto" parameterType="String">
  select * from member where member_id = #{memberId}
  </select>
  
  <insert id="roomCreate" parameterType="RoomDto">
  insert into room values (#{roomNo}, sysdate, null)
  </insert>
  
  
  <insert id="chatUserInsert" parameterType="ChatUserDto">
  insert into chat_user values (#{memberId}, #{roomNo},#{memberName} , #{memberStatus})
  </insert>
  
  <insert id="chatMessageInsert" parameterType="ChatDto">
  insert into chat values (chat_seq.nextval, #{roomNo}, #{memberId}, sysdate, #{chatMessage},'N')
  </insert>
  
  <select id="chatList" parameterType="String" resultType="ChatDto">
  <!-- 번호(roomNo)랑 아이디(memberId)로 채팅 내역을 찾아야함/ 일단은 String (ChatSerchVO를 따로 만들어야하나?)-->
  select * from chat where  room_no = #{roomNo} order by chat_no asc
  </select>
  
  <select id="roomSeqNo" resultType="String" >
	  select room_seq.nextval from dual
	</select>
  
  <select id="searchRoom" parameterType="SearchRoomVO" resultType="String">
  	SELECT room_no FROM chat_user where member_id = #{memberId} 
 		INTERSECT
	SELECT room_no FROM chat_user where member_id = #{trainerId}
  </select>
  
  <!-- 일반회원 기준에서 채팅리스트 뽑기 -->
  <select id="chatRoomList" parameterType="String" resultType="ChatListVO">
  	select h.chat_no, h.room_no,h.chat_create_at,h.chat_message,p.member_name,p.files_no,h.chat_message_status, h.member_id
	from
	(
	select chat.chat_no,chat.room_no,chat.chat_create_at,chat.chat_message,chat.chat_message_status,chat.member_id
	,ROW_NUMBER() OVER (PARTITION BY chat.room_no ORDER BY chat.chat_no desc) AS emp_no
	from chat chat
	)H left join(select *
	from chat_user cu 
	inner join member_img mi on mi.member_id = cu.member_id
	where cu.room_no in (select room_no from chat_user where member_id = #{memberId})and member_status = 'Y') P
	on P.room_no = H.room_no
	WHERE emp_no = 1 and h.room_no = p.room_no order by h.chat_create_at desc
  </select>
  
  
   <!-- 훈련사 기준에서 채팅리스트 뽑기 -->
   <select id="trainerchatRoomList" parameterType="String" resultType="ChatListVO">
  	select h.chat_no, h.room_no,h.chat_create_at,h.chat_message,p.member_name,p.files_no,h.chat_message_status,h.member_id
	from
	(
	select chat.chat_no,chat.room_no,chat.chat_create_at,chat.chat_message,chat.chat_message_status,chat.member_id
	,ROW_NUMBER() OVER (PARTITION BY chat.room_no ORDER BY chat.chat_no desc) AS emp_no
	from chat chat
	)H left join(select *
	from chat_user cu 
	inner join member_img mi on mi.member_id = cu.member_id
	where cu.room_no in (select room_no from chat_user where member_id = #{memberId})and member_status = 'N') P
	on P.room_no = H.room_no
	WHERE emp_no = 1 and h.room_no = p.room_no order by h.chat_create_at desc
  </select>
  
  
  
  
	<select id="chatRoom" parameterType="String" resultType="ChatRoomVO">
	select m.member_name, chat.*, mi.files_no from chat chat 
	inner join member_img mi on mi.member_id = chat.member_id 
	inner join member m on m.member_id=chat.member_id
	where room_no = #{roomNo} order by chat_no asc
	</select>
  
  	<select id="searchPartner" parameterType="ChatPartnerSearchVO" resultType="ChatPartnerVO">
  	select cu.member_id,cu.member_name, mi.files_no from chat_user cu inner join member_img mi on mi.member_id = cu.member_id 
	where cu.room_no =#{roomNo} and not cu.member_id =#{memberId}
  	</select>
  
  
  </mapper>