<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="item">
	<insert id="insert" parameterType="ItemDto">
		insert into item(item_no, item_name, item_price,
		item_date, item_changedate, item_disabled) 
		values(item_seq.nextval, #{itemName}, #{itemPrice}, sysdate, sysdate, #{itemDisabled})
	</insert>
	
	<select id="list" resultType="ItemDto">
		select * from item order by item_date desc
	</select>
	
	<select id="paySelectList" resultType="ItemDto">
		select * from item where item_disabled='Y' order by item_price asc
	</select>
	
	<select id="selectone" resultType="ItemDto" parameterType="int">
		select*from item where item_no=#{itemNo}
	</select>
	
	<select id="selectname" resultType="ItemDto" parameterType="String">
		select*from item where item_name=#{itemName}
	</select>
	
	<update id="edit" parameterType="ItemDto">
		update item set item_name=#{itemName}, item_price=#{itemPrice},
		item_changedate=sysdate, item_disabled=#{itemDisabled}
		where item_no=#{itemNo}
	</update>
	
	<delete id="delete" parameterType="int">
		delete item where item_no=#{itemNo}
	</delete>
</mapper>