<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="linkedList">

<!-- 훈련사번호 조회 -->
<select id="selectone" parameterType="int" resultType="LinkedListDto">
	select*from linked_list where training_no=#{trainingNo}
</select>









</mapper>