<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<!-- 회원 등록 -->
	<insert id="insert" parameterType="MemberDto">
		insert into member
		(member_id, member_pw, member_name, member_email, 
		member_tel, member_post, member_base_address, member_detail_address, 
		member_birth, member_gender)
		values
		(#{memberId}, #{memberPw}, #{memberName}, #{memberEmail}, 
		#{memberTel}, #{memberPost}, #{memberBaseAddress}, #{memberDetailAddress},
		#{memberBirth}, #{memberGender})
	</insert>
    	
	<select id="list" resultType="MemberDto">
	    select *from member order by member_joindate asc
	 <!--  <if test="sort !=null">
	 order by
	 <foreach collection="sort" item="s" separator=",">
	 	${s}
	 </foreach>
	</if>-->
	</select> 
	  
	 <select id="search" parameterType="map" resultType="MemberDto">
     	select*from member  
	    	<if test="type !=null and keyword !=null">
			     where instr(${type}, #{keyword}) > 0
			     order by ${type} asc
	       </if>
     </select>

	<!-- 회원, 첨부파일 연결테이블 등록 -->
	<insert id="profileInsert" parameterType="MemberImgDto">
		insert into member_img(files_no, member_id) values(#{filesNo}, #{memberId})
	</insert>
	
	<!-- 파일번호 조회 -->
	<select id="findFileNo" parameterType="String" resultType="int">
		select files_no from member_img where member_id = #{memberId}
	</select>
	
	<!-- 회원 단일조회 -->
	<select id="one" parameterType="String" resultType="MemberDto">
		select * from member where member_id = #{memberId}
	</select>
	
	<!-- 포인트 증가(수정)  -->
	<update id="plusPoint" parameterType="MemberDto">
		update member set member_point=member_point+#{memberPoint} 
		where member_id=#{memberId}
	</update>

	<!-- 프로필 정보수정 -->
	<update id="profileEdit" parameterType="MemberDto">
		
	</update>
	
	
</mapper>