<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<insert id="insert" parameterType="MemberDto">
		insert into member
		(member_id, member_pw, member_name, member_email, 
		member_tel, member_post, member_base_address, member_detail_address, 
		member_birth, member_gender)
		values
		(#{memberId}, #{memberPw}, #{memberName}, #{memberEmail}, 
		#{memberTel}, #{memberPost}, #{memberBaseAddress}, #{memberDetailAddress},
		#{memberBirth}, #{memberGender})
	</insert>
	<!--  
	<select id="list" resultType="MemberDto">
	    select *from member order by member_joindate asc
	</select>    
	
     <select id="search" parameterType="map" resultType="memberDto">
      select*from member order by member_joindate asc
      <where>
      <if test="type !=null and keyword !=null">
     
      where instr(${type),#{keyword}>0
       
        Map<String, String> map = new HashMap<>();
      
      </if>
      
     
	<if test="sort !=null">
	 order by
	 <foreach collection="sort" item="s" separator=",">
	 	${s}
	 </foreach>
	</if>
	</where>
       
     </select>
    
-->


 <!--
    <select id="complex6" parameterType="map" resultType="MemberDto">
	select*from member
	정렬할 내용이 있다면 
	<if test="sort !=null">
	 order by
	 <foreach collection="sort" item="s" separator=",">
	 	${s}
	 </foreach>
	</if>
    </select>
    --> 
    	
	<select id="list" resultType="MemberDto">
	    select *from member order by member_joindate asc
	    
	 <!--  <if test="sort !=null">
	 order by
	 <foreach collection="sort" item="s" separator=",">
	 	${s}
	 </foreach>
	</if>-->
	</select> 
	  
	 <select id="search" parameterType="map" resultType="MemberDto">
      select*from member
      
      <if test="type !=null and keyword !=null">
     where instr(${type}, #{keyword}) > 0
     order by ${type} asc
       
   
       </if>
       
       
       </select>
       
      <select id="one" parameterType="string" resultType="MemberDto">
      select*from member where member_id=#{memberId}
      
     </select>
	
	
</mapper>