<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="point_purchase">

	<select id="sequence" resultType="int">
		select point_purchase_seq.nextval from dual
	</select>
	
	<insert id="insert" parameterType="PointPurchaseDto">
		insert into point_purchase(point_purchase_no, member_id, item_no, 
		point_purchase_price, point_purchase_date, point_purchase_payment,
		point_purchase_status, tid) 
		values(#{pointPurchaseNo}, #{memberId}, #{itemNo}, #{pointPurchasePrice},
		#{pointPurchaseDate},#{pointPurchasePayment},#{pointPurchaseStatus}, #{tid})
	</insert>
	
	<!-- 결제내역 전체조회 -->
	<select id="selectList" resultType="PayListVO" parameterType="String">
		select p.*, i.item_name from point_purchase p 
		inner join item i on p.item_no=i.item_no 
		where member_id=#{memberId} 
		order by p.point_purchase_date desc
	</select>
	
	<!-- 결제내역 단일조회 -->
	<select id="selectOne" resultType="PayListVO" parameterType="int">
		select * from point_purchase where point_purchase_no=#{pointPurchaseNo}
	</select>
	
	<!-- 거래상태 취소로 변경 -->
	<update id="update" parameterType="int">
		update point_purchase set point_purchase_status='취소' 
		where point_purchase_no=#{pointPurchaseNo}
	</update>
	
	
	<!-- 페이지네이션 -->
	<select id="pageList" resultType="PayListVO" parameterType="PaginationListSearchVO">
		select * from 
        (select rownum rn, TMP.* from 
        (select p.*, i.item_name from point_purchase p 
		inner join item i on p.item_no=i.item_no 
		where member_id=#{memberId} 
		order by p.point_purchase_date desc)TMP ) 
        where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="pageSearch" resultType="PayListVO" parameterType="PaginationListSearchVO">
		select * from 
		(select rownum rn, TMP.* from 
		(select p.*, i.item_name from point_purchase p 
		inner join item i on p.item_no=i.item_no 
		where member_id=#{memberId} 
		and instr(#{type},#{keyword})>0 
		order by point_purchase_no desc)TMP ) where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="listCount" resultType="int" parameterType="String">
		select count(*) from point_purchase where member_id=#{memberId}
	</select>
	
	<select id="searchCount" resultType="int" parameterType="PaginationListSearchVO">
		select count(*) from point_purchase where member_id=#{memberId} 
		and instr(#{type},#{keyword})>0 
	</select>
	
	
	
</mapper>