<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="training">
  
   	<!-- 단일 조회 구문
 			- resultType은 select에만 존재(select전용 구문), 가져와서 무언갈 보여줘야 하니까 			
 	 -->
 	 
 	<select id="trainingRequestList" parameterType="int"  resultType="TrainingDto">
 		select A.* from training A inner join linked_list B on A.training_no = B.training_no inner join trainer C on C.trainer_no = B.trainer_no where C.trainer_no = #{trainerNo}
 	</select>
 	
 	<!-- 예약상태 > 예약취소로 변경 -->
 	<update id="statusChange" parameterType="int">
 		update training set training_status='예약취소' where training_no=#{trainingNo}
 	</update>
 	
 	<!-- 훈련서비스 번호로 1건의 예약내역 조회 -->
 	<select id="selectone" resultType="TrainingDto" parameterType="int">
 		select * from training where training_no=#{trainingNo}
 	</select>
 	
 	<!-- 훈련서비스 번호로 서비스, 서비스상세, 회원 첨부파일 연결테이블 3개 조인 리스트 -->
 	<select id="oneTraining" resultType="OneTrainingVO" parameterType="int">
 		select * from training t 
		inner join training_detail td on t.training_no = td.training_no
		inner join member_img img on t.member_id = img.member_id
		where t.training_no=#{trainingNo}
 	</select>
 	
 	<!-- 진행 예약 리스트(회원 기준) -->
 	<select id="ingList" resultType="TrainingDto" parameterType="String">
 		select * from training 
 		where member_id=#{memberId} 
		and (training_status='예약대기' or training_status='예약확정')
 	</select>
 	
 	<!-- 지난 예약 리스트(회원 기준) -->
 	<select id="endList" resultType="TrainingDto" parameterType="String">
 		select * from training 
		where member_id=#{memberId} 
		and (training_status='예약취소' or training_status='이용완료')
 	</select>
 	
 	<!-- 진행 예약 리스트(훈련사 기준) -->
 	<select id="reservationIngList" resultType="ReservationIngListVO" parameterType="int">
 		select m.member_name, t.*, li.trainer_no from member m 
		inner join training t on m.member_id=t.member_id
		inner join linked_list li on t.training_no=li.training_no
		where li.trainer_no=#{trainerNo} and t.training_status='예약확정'
 	</select>
 	
 	<!-- 훈련서비스 받은 펫 마리수 -->
  	<select id="petCount" resultType="int" parameterType="int">
  		select count(*) from training_detail where training_no=#{trainingNo}
  	</select>
  	
  	<!-- 훈련서비스 받은 펫 번호 조회 -->
  	<select id="petList" resultType="TrainingDetailDto" parameterType="int">
  		select * from training_detail where training_no=#{trainingNo}
  	</select>
  	
  	<insert id="insert" parameterType="TrainingDto">
  insert into training(
  training_no,
   member_id,
    training_date,
  training_starttime,
  training_basic_address,
  training_detail_address,
  training_memo,
  training_status,
  training_changedate)
   values(
  #{trainingNo},
  #{memberId},
  #{trainingDate},
  #{trainingStartTime},
  #{trainingBasicAddress},
  #{trainingDetailAddress},
  #{trainingMemo},
  '예약대기',
   sysdate)

  </insert>
  
  <select id="sequence" resultType="int">
   select training_seq.nextval from dual
  </select>
  
  <insert id="detailInsert" parameterType="TrainingDetailDto">
  insert into training_detail(training_no, training_detail_pet_name)
   values(#{trainingNo}, #{trainingDetailPetName})
  </insert>
  	
  	<!-- 훈련서비스 삭제 -->
  	<delete id="delete" parameterType="int">
  		delete training where training_no=#{trainingNo}
  	</delete>
  	
  	<!-- 예약상태 > 예약확정 변경 -->
 	<update id="statusChange2" parameterType="int">
 		update training set training_status='예약확정', training_changedate=sysdate where training_no=#{trainingNo}
 	</update>
 	
 	<!-- request detail 펫 정보 -->
 	<select id="requestDetailPetList" parameterType="int" resultType="PetDetailListVO">
 		select p.*, img.files_no from training t 
		inner join training_detail td on t.training_no=td.training_no
		inner join pet p on td.training_detail_pet_name=p.pet_name
		inner join pet_img img on p.pet_no = img.pet_no
		inner join linked_list list on td.training_no=list.training_no where training_no=#{trainingNo}
 	</select>
 	
 	<!-- request list 훈련요청리스트(훈련사) -->
 	<select id="requestList" parameterType="int" resultType="TrainingRequestListVO">
 	select * 
	from
	(
	select t.training_no,t.member_id,t.training_date,t.training_starttime,t.training_basic_address,p.pet_no,p.pet_name,img.files_no
	 ,ROW_NUMBER() OVER (PARTITION BY t.training_no ORDER BY p.pet_no) AS emp_no 
	from training t 
	inner join training_detail td on t.training_no=td.training_no
	inner join pet p on td.training_detail_pet_name=p.pet_name
	inner join pet_img img on p.pet_no = img.pet_no
	inner join linked_list list on td.training_no=list.training_no where trainer_no=#{trainerNo} and t.training_status='예약대기'
	)
	WHERE emp_no = 1;
 	</select>
 	
 	
 	<!-- 훈련요청 날짜에 확정된 예약이 있는지 확인 -->
 	<select id="checkRequest" parameterType="Date" resultType="TrainingDto">
 	select * from training where training_status='예약확정' and training_date=#{requestDate}
 	</select>
  	
  
  </mapper>
 