<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="trainer">

	<select id="list" resultType="TrainerListVO">
      select nvl(R.cnt,0) cnt , nvl(CEIL(R.avg),0) avg, T.trainer_no, 
      T.trainer_profile, T.trainer_profile_content,
      M.member_name from trainer T
      inner join member M on T.member_id = M.member_id left outer join
      (select trainer_no, count(*) cnt, avg(review_good) avg 
      from review group by trainer_no)
      R on R.trainer_no = T.trainer_no
      </select>
      
      <select id="listCount" resultType="int">
      select count(*)
      from(
      select nvl(R.cnt,0) cnt , nvl(CEIL(R.avg),0) avg, T.trainer_no, 
      T.trainer_profile, T.trainer_profile_content,
      M.member_name from trainer T
      inner join member M on T.member_id = M.member_id left outer join
      (select trainer_no, count(*) cnt, avg(review_good) avg 
      from review group by trainer_no)
      R on R.trainer_no = T.trainer_no)
      </select>
      
      
      <select id="listCountAll" parameterType="TrainerListVO" resultType="TrainerListVO">
      
      select*from(select TMP.*, rownum rn from(
      select nvl(R.cnt,0) cnt , nvl(CEIL(R.avg),0) avg, T.trainer_no, 
      T.trainer_profile, T.trainer_profile_content,
      M.member_name from trainer T
      inner join member M on T.member_id = M.member_id left outer join
      (select trainer_no, count(*) cnt, avg(review_good) avg 
      from review group by trainer_no)
      R on R.trainer_no = T.trainer_no)TMP)where rn between #{startRow} and #{endRow}
      </select>
      
      <insert id="trainerProfileInsert" parameterType="TrainerDto"> 
      insert into trainer
		(trainer_no, member_id, apply_no, trainer_profile, trainer_profile_content)
		values(trainer_seq.nextval, '#{memberId}', #{applyNo},  #{trainerProfile},
		#{trainerProfileContent})
      </insert>
      
      
</mapper>