<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="training_purchase">

 	<!-- 훈련서비스 번호로 1건의 결제내역 조회 -->
 	<select id="selectOne" resultType="TrainingPurchaseDto" parameterType="int">
 		select * from training_purchase where training_no=#{trainingNo}
 	</select>
 	
 	<!-- 결제 고유번호로 결제 상세내역 조회 -->
 	<select id="detailSelectOne" resultType="PurchaseDetailDto" parameterType="int">
 		select * from purchase_detail where training_purchase_no=#{trainingPurchaseNo}
 	</select>
 	
 	<!-- 결제 고유번호로 거래상태 취소로 변경 -->
 	<update id="statusChange" parameterType="int">
 		update purchase_detail set purchase_detail_status='취소'
 		 where training_purchase_no=#{trainingPurchaseNo}
 	</update>
 	
  <select id="sequence" resultType="int">
   select training_purchase_seq.nextval from dual
  </select>
  
  <insert id="purchaseInsert" parameterType="TrainingPurchaseDto">
  insert into training_purchase(training_purchase_no, 
  training_no,
  training_purchase_price,
  training_purchase_payment,
  training_purchase_date
  )values(
  #{trainingPurchaseNo},
  #{trainingNo},
  #{trainingPurchasePrice},
  '포인트',
  sysdate
  )
  </insert>
  
  <insert id ="purchaseDetailInsert" parameterType="PurchaseDetailDto">
  insert into purchase_detail(purchase_detail_no,
  training_purchase_no,
  purchase_detail_pet_name,
  purchase_detail_price,
  purchase_detail_status
  )values(
  purchase_detail_seq.nextval,
  #{trainingPurchaseNo},
  #{purchaseDetailPetName},
  #{purchaseDetailPrice},
  '승인'
  )
  </insert>
 	
  
  </mapper>
 