<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="training">
  
   	<!-- 단일 조회 구문
 			- resultType은 select에만 존재(select전용 구문), 가져와서 무언갈 보여줘야 하니까 			
 	 -->
 	 
 	<select id="trainingRequestList" parameterType="int"  resultType="TrainingDto">
 		select A.* from training A inner join linked_list B on A.training_no = B.training_no inner join trainer C on C.trainer_no = B.trainer_no where C.trainer_no = #{trainerNo}
 	</select>
 	
 	<!-- 훈련서비스 번호로 1건의 예약내역 조회 -->
 	<select id="selectone" resultType="TrainingDto" parameterType="int">
 		select * from training where training_no=#{trainingNo}
 	</select>
 	
 	<!-- 진행 예약 리스트 -->
 	<select id="ingList" resultType="TrainingDto" parameterType="String">
 		select * from training 
 		where member_id=#{memberId} 
		and (training_status='예약대기' or training_status='예약확정')
 	</select>
 	
 	<!-- 지난 예약 리스트 -->
 	<select id="endList" resultType="TrainingDto" parameterType="String">
 		select * from training 
		where member_id=#{memberId} 
		and (training_status='예약취소' or training_status='이용완료')
 	</select>
 	
 	<!-- 훈련서비스 받은 펫 마리수 -->
  	<select id="petCount" resultType="int" parameterType="int">
  		select count(*) from training_detail where training_no=#{trainingNo}
  	</select>
  	
  	<!-- 훈련서비스 받은 펫 번호 조회 -->
  	<select id="petList" resultType="TrainingDetailDto" parameterType="int">
  		select * from training_detail where training_no=#{trainingNo}
  	</select>
  
  </mapper>
 